<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="author" content="Dadzial">
    <meta name="description" content="A website about Ai, Coding, Programming, Python, JavaScript">
    <meta name="keywords" content="Ai,Coding,Programming,Python,JavaScript">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="icon" type="image/svg+xml" href="{{ url_for('static', filename='assets/icons/favicon.svg') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/styles.css') }}">
    <title>BugContext</title>
</head>
<body>
    <div class="app">

    </div>
</body>
</html>